.container {
  text-align: center;
  margin-top: 10px;
}

.name {
  font-weight: bold;
  font-size: 1.5em;
}

.price {
  color: rgb(124, 77, 255);
}

.comments {
  margin-top: 25px;
}

.postComment {
  margin-top: 25px;
}

.rateProduct {
  margin-top: 25px;
}

.star {
  cursor: pointer;
}

.rateProductMessage {
  margin-right: 10px;
}

.addToHomepage {
  margin-top: 25px;
}
