.userDataElementEntry {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(69, 90, 100, 0.5);
}

.rowHeader {
  font-weight: bold;
  vertical-align: top;
  padding-right: 25px;
}

.row {
  padding-bottom: 25px;
}

.spacerRow {
  height: 25px;
}

.tableContainer {
  margin-top: 25px;
}
