.tableContainer {
  margin-top: 25px;
}

.table td {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}
.table tr {
  border: 1px solid rgb(96, 125, 139);
}

.addToBlackList {
  margin-top: 50px;
  text-align: center;
}
